/* 
	CSS by Dan Høegh
	UCN MMD 2021 

*/

* {
	box-sizing: border-box;
}

body {
	background-color: lightcyan;
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
	line-height: 1.4;
}

img {
	max-width: 250px;
}
